<html>
   <head>
      <title>My blog</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   </head>
   <body>
   <h1>Intro</h1>
   <p>Hi there!</p>
   <p>This is my first blog. Django girls (<a href="https://djangogirls.org">link</a>) helped me to create it.</p>
   <p> <em>This is great :)</em>

   <h1>Django Girls' Example</h1>

        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
      <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
      </div>
        {% endfor %}
    </body>

</html>
